.titulo-promocao
{
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: var(--ion-color-light);
}
.titulo-stitch
{
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: var(--ion-color-dark);
}
.titulo-cururu
{
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: var(--ion-color-dark);
}
.titulo-olaf
{
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: var(--ion-color-dark);
}
.titulo-raposa
{
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: var(--ion-color-dark);
}