<ion-header>
  <ion-toolbar color="danger">
    <ion-title color="light" class="ion-text-center">
      Categorias
    </ion-title>
    <ion-buttons slor="end">
      <ion-button routerLink="/carrinho">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge color="dark">{{qtdeItensCarrinho}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="light" routerLink="/ofertas">
          <!-- troca o caminho das imagens  <img src="assets/promocao.png" alt=""> -->
          <img src="assets/promocao.jpg" alt="">
        <ion-item  color="dark">
          <ion-label class="titulo-promocao" >Confira nossos produtos em promoção!</ion-label>
        </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="light" routerLink="/bonecos">
          <img src="assets/bonecos.jpg" alt="">
          <ion-item color="light">
            <ion-label class="titulo-bonecos" >Bonecos</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="light" routerLink="/agulhas">
          <img src="assets/agulhas.jpg" alt="">
          <ion-item color="light">
            <ion-label class="titulo-agulhas" >Agulhas</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="light" routerLink="/Acessórios">
          <img src="assets/acessorios.jpg" alt="">
           <ion-item color="light">
            <ion-label class="titulo-acessorios">Acessórios</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="light" routerLink="/linhas">
          <img src="assets/linhas.jpg" alt="">
          <ion-item color="light">
            <ion-label class="titulo-linhas">Linhas</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


