.titulo-promocao
{
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: var(--ion-color-light);
}
.titulo-bonecos
{
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: var(--ion-color-dark);
}
.titulo-agulhas
{
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: var(--ion-color-dark);
}
.titulo-acessorios
{
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: var(--ion-color-dark);
}
.titulo-linhas
{
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: var(--ion-color-dark);
}
